.type-20 .container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.type-20 .imghome {
  margin: 0 0 1.4em;
  padding: 0;
  margin-bottom: 35px;
  color: #999;
  clear: both;
}
.type-20 .imghome a.home {
  text-indent: -999em;
  background: url(../images/home.png) no-repeat center center;
  height: 18px;
  width: 18px;
  display: block;
  float: left;
  margin-right: 4px;
}
.type-20 .wrapper {
  padding-top: 24px;
  padding-bottom: 30px;
}
.type-20 #head-line {
  margin-bottom: 32px;
}
.type-20 .title {
  margin-bottom: 4px;
  font-size: 28px;
  font-family: 'Oswald';
  font-weight: bold;
}
.type-20 .subheader {
  margin-left: 1px;
  color: #ACACAC;
  width: 100%;
  margin-top: 5px;
  line-height: 12px;
}
.type-20 .full-width {
  width: 100% !important;
}
.type-20 .index-thumb {
  margin-right: 4px;
}
.type-20 .index-thumb:hover .zoom-icon {
  display: block;
}
.type-20 .index-thumb:hover .link-icon {
  display: block;
}
.type-20 .entry-right {
  margin-top: -23px;
}
.type-20 .entry-right h2 a {
  color: #3d3d3d;
  text-decoration: none;
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: bold;
}
.type-20 .entry-right h2 a:hover {
  color: #000000;
}
.type-20 .post-content {
  line-height: 1.7em;
}
.type-20 .post-text {
  font-family: 'Lora';
  color: #ACACAC;
}
.type-20 .zoom-icon {
  display: none;
  background: url(../images/zoom-icon.png) no-repeat top left;
  position: absolute;
  height: 27px;
  width: 53px;
  right: 6px;
  margin-top: -38px;
}
.type-20 .link-icon {
  display: none;
  background: url(../images/link-icon.png) no-repeat top left;
  position: absolute;
  height: 27px;
  width: 88px;
  right: 6px;
  margin-top: -38px;
}
.type-20 .row {
  margin-left: -28px;
  margin-right: 31px;
}
