@font-face {
  font-family: Libre Baskerville;
  src: url(../fonts/Libre-Baskerville.woff2);
  font-weight: bold;
}
.type-4 .home-widget.widget_text {
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 5%;
  border-top: 3px solid #FF694F;
  box-shadow: 0 0 8px #ccc;
  max-width: 100%;
}
.type-4 .home-widget.widget_text.last {
  margin-right: 0;
}
.type-4 .home-widget.widget_text .widget-content .widgettitle {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 7px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #000;
}
.type-4 .home-widget.widget_text .widget-content .textwidget {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  color: #3d3d3d;
  vertical-align: baseline;
}
.type-4 .home-widget.widget_text .widget-content .textwidget img {
  width: 270px;
  height: 100px;
}
@media (max-width: 700px) and (min-width: 320px) {
  .type-4 .home-widget.widget_text {
    max-width: 100% !important;
    margin-right: 0%;
    padding: 0 15xp;
  }
}
@media (max-width: 995px) and (min-width: 701px) {
  .type-4 .home-widget.widget_text {
    max-width: 100% !important;
  }
}
