.type-14 body {
  height: 100%;
}
.type-14 body,
.type-14 div {
  background: #FEFEFE;
  color: #777;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
}
.type-14 a {
  color: #3d3d3d;
  text-decoration: none;
}
.type-14 a:hover {
  text-decoration: none;
  color: #000000;
}
.type-14 h1,
.type-14 h2,
.type-14 h3,
.type-14 h4,
.type-14 h5,
.type-14 h6,
.type-14 ul.nav li a,
.type-14 #cart-menu-inner a.menu-link {
  font-family: 'Oswald';
}
.type-14 body,
.type-14 p,
.type-14 textarea,
.type-14 input,
.type-14 #tagline {
  font-family: 'Lora';
}
.type-14 h1,
.type-14 h2,
.type-14 h3,
.type-14 h4,
.type-14 h5,
.type-14 h6 {
  font-family: 'Oswald', 'Droid Sans', Helvetica, sans-serif;
  color: #3d3d3d;
  line-height: 1em;
  margin-bottom: 0.6em;
  font-weight: bold;
}
.type-14 h1 {
  font-size: 24px;
}
.type-14 h2 {
  font-size: 18px;
}
.type-14 h3 {
  font-size: 16px;
}
.type-14 h4 {
  font-size: 14px;
}
.type-14 h5 {
  font-size: 12px;
}
.type-14 h6 {
  font-size: 10px;
}
.type-14 p {
  padding-bottom: 20px;
}
.type-14 #order_comments {
  max-width: 100%;
  min-height: 80px;
}
.type-14 .main-content {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.type-14 #left {
  float: left;
  width: 73%;
  margin-top: 0px;
}
.type-14 .full-width {
  width: 100% !important;
}
.type-14 .clear {
  clear: both;
}
.type-14 h1.title-page {
  text-align: center;
  margin-bottom: 44px;
  color: #3d3d3d;
  line-height: 1.6em;
  font-size: 27px;
}
.type-14 form.cart .button {
  padding: 4px 8px;
  background: #3d3d3d;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.type-14 form.cart .button {
  width: auto;
  padding: 8px 23px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  clear: left;
  margin-top: 10px;
  font-weight: bold;
}
.type-14 .button {
  margin-right: 6px;
  background: transparent;
  border: 0;
  float: none;
}
.type-14 form.cart .button,
.type-14 #place_order,
.type-14 .button {
  width: 100%;
  padding: 8px 23px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -1px;
  font-weight: normal;
  clear: left;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px 1px #61aF51;
  -moz-box-shadow: inset 0 0 1px 1px #61aF51;
  -ms-box-shadow: inset 0 0 1px 1px #61aF51;
  -o-box-shadow: inset 0 0 1px 1px #61aF51;
  box-shadow: inset 0 0 1px 1px #61aF51;
  background: none repeat scroll 0 0 #5A9E2E;
  border: 1px solid #5B992B;
  font-family: 'Oswald', 'Droid Sans', Helvetica, sans-serif;
}
.type-14 #place_order {
  width: auto;
}
.type-14 h1.title {
  font-size: 28px;
  margin-bottom: 4px;
  font-weight: 400;
}
.type-14 input[type="radio"i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: radio;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}
.type-14 .button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25);
  background: none repeat scroll 0 0 #5A9E2E;
  border: 1px solid rgba(0,0,0,0.1);
  clear: both;
  color: #FFF;
  font-size: 11px;
  line-height: 1;
  margin-top: 0px;
  margin-right: 10px;
  padding: 4px 8px;
  text-align: center;
  width: auto;
  text-shadow: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Oswald', 'Droid Sans', Helvetica, sans-serif;
}
.type-14 table.shop_table {
  border-top: 0;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
}
.type-14 table.shop_table {
  text-align: left;
  border-collapse: separate;
  float: left;
}
.type-14 table.shop_table th {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  padding: 9px 12px;
  border-top: 1px solid #E5E5E5;
}
.type-14 .input-text {
  border: 1px solid #CCC;
  padding: 5px;
  height: 16px;
  color: #777;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
}
.type-14 table.shop_table td {
  border-top: 1px solid #E5E5E5;
  padding: 6px 12px;
  vertical-align: middle;
}
.type-14 table.shop_table .button {
  margin-top: 0px;
  clear: right;
  padding: 8px 11px;
}
.type-14 table.my_account_orders {
  width: 100%;
}
.type-14 .full-width {
  width: 100%;
}
.type-14 span.amount {
  color: #5A9E2E;
}
.type-14 .button:hover {
  opacity: 0.9;
}
.type-14 .form-row {
  overflow: hidden;
  zoom: 1;
  padding: 3px;
  margin: 0 0 6px;
}
.type-14 .col2-set .col-1 {
  float: left;
  width: 48%;
}
.type-14 .col2-set .col-2 {
  float: right;
  width: 48%;
}
.type-14 div form .form-row input.input-text,
.type-14 div #content .form-row input.input-text,
.type-14 div form .form-row textarea,
.type-14 div #content .form-row textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid #CCC;
  width: 100%;
  padding: 6px 12px;
  min-height: 30px;
  margin: 0;
  outline: 0;
  background: white none;
  font-size: 12px;
  line-height: 18px;
}
.type-14 #order_comments {
  max-width: 100%;
  min-height: 80px;
}
.type-14 .col2-set {
  width: 100%;
  float: left;
}
.type-14 .col-1,
.type-14 .col-2 {
  position: relative;
}
.type-14 .country_select {
  width: 100% !important;
  height: 28px;
  line-height: 29px;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 26px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 26px;
}
.type-14 .form-row-first,
.type-14 .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.type-14 .form-row-last {
  float: right;
}
.type-14 .tex-1 {
  color: #777;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
}
.type-14 .post-content {
  overflow: hidden;
  list-style: none;
}
.type-14 .post-content li {
  border-bottom: 1px solid #ededed;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-left: 0;
  padding-left: 12px;
}
.type-14 #customer_details {
  margin-bottom: 30px;
}
.type-14 h3#order_review_heading {
  clear: both;
}
.type-14 #payment ul.payment_methods {
  text-align: left;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 15px;
}
.type-14 #payment ul.payment_methods li {
  margin-bottom: 8px;
}
.type-14 #payment div.payment_box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 8px;
  padding-left: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: url("../images/info.png") no-repeat 8px 20px #F6F6F6;
  border: 1px solid #EDEDED;
  font-size: 12px;
}
.type-14 .form-row label {
  display: block;
}
.type-14 select {
  width: 140px;
}
.type-14 #createaccount {
  float: left;
}
.type-14 label.checkbox {
  float: left;
  padding: 0 6px;
}
.type-14 .post-content form {
  display: block;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.type-14 .required {
  color: #FF0000;
}
.type-14 .container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.type-14 a.home {
  text-indent: -999em;
  background: url("../images/home.png") no-repeat center center;
  height: 18px;
  width: 18px;
  display: block;
  float: left;
  margin-right: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .type-14 .container {
    width: 768px;
  }
  .type-14 .wrap-inside {
    width: 768px;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .type-14 .container {
    width: 300px;
  }
  .type-14 .wrap-inside {
    width: 300px;
  }
  .type-14 .form-row-first,
  .type-14 .form-row-last {
    width: 45%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .type-14 .container {
    width: 420px;
  }
  .type-14 .wrap-inside {
    width: 420px;
  }
  .type-14 .full-width {
    width: 420px;
  }
}
