@import "../../var/var.less";
html {
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.type-10 .container {
  width: 800px;
  margin: 0 auto;
}
.type-10 div.tab button {
  font-size: 13px;
  background: #f6f6f6;
  color: #999;
  font-weight: bold;
  clear: left;
  margin-top: 10px;
  border: 1px solid #999;
  outline: none;
  cursor: pointer;
  padding: 7px 11px;
  transition: 0.3s;
}
.type-10 div.tab button:hover {
  color: #3d3d3d;
}
.type-10 div.tab button.active {
  color: #3d3d3d;
}
.type-10 .tab {
  border-bottom: 1px solid #999;
}
.type-10 .tabcontent {
  display: none;
  border-top: none;
}
.type-10 #Review .comment-1 {
  float: left;
  margin: 8px 0;
  border-bottom: 1px dashed #DDD;
  width: 100%;
  padding-bottom: 11px;
}
.type-10 #Review h2,
.type-10 h2 {
  font-family: 'Oswald', 'Droid Sans', Helvetica, sans-serif;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 18px;
  font-size: 18px;
}
.type-10 .tabcontent img {
  position: relative;
  float: left;
  padding: 2px;
  border: 1px solid #999;
  margin-right: 10px;
}
.type-10 p {
  background: #FEFEFE;
  color: #777;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
}
.type-10 strong {
  color: #000;
}
.type-10 ul {
  padding: 0;
}
.type-10 li {
  list-style: none;
}
.type-10 input.star {
  display: none;
}
.type-10 label.star {
  float: right;
  font-size: 20px !important;
  padding: 0;
  color: #444;
  transition: all .2s;
}
.type-10 input.star:checked~label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
.type-10 input.star-1:checked~label.star:before {
  color: #F62;
}
.type-10 label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
.type-10 label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.type-10 a,
.type-10 span .count {
  color: #3d3d3d;
  text-decoration: none;
}
@media (max-width: 900px) and (min-width: 700px) {
  .type-10 .container {
    width: 550px;
    float: left;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .type-10 .container {
    width: 450px;
    margin: 0 auto;
  }
}
